<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="{{ asset('/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/assets/css/simple-sidebar.css') }}" rel="stylesheet">
        <link href="{{ asset('/assets/css/sidebar.css') }}" rel="stylesheet">
        <link href="{{ asset('/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    {% endblock %}
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>
{% include 'navbar.html.twig' %}
<div class="row" id="body-row">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="border-right" id="sidebar-wrapper" style="background-color:#FF6501">
            <div class="sidebar-heading">
                {{ app.user.NamaPegawai }}
            </div>
            <div class="list-group list-group-flush">
                {% if is_granted("ROLE_USER") %}
                     <a href="{{ path('compose_surat') }}" class="list-group-item list-group-item-action bg-light">Surat Internal</a>
                {% endif %}
                {% if is_granted("ROLE_USER") %}
                    <a href="{{ path('kotak_masuk') }}" class="list-group-item list-group-item-action bg-light">Kotak Masuk</a>
                {% endif %}
                {% if is_granted("ROLE_USER") %}
                    <a href="{{ path('on_progress') }}" class="list-group-item list-group-item-action bg-light">OnProgress</a>
                {% endif %}
                {% if is_granted("ROLE_USER") %}
                    <a href="{{ path('surat_keterangan') }}" class="list-group-item list-group-item-action bg-light">Surat Keterangan</a>
                {% endif %}
                {% if is_granted("ROLE_USER") %}
                    <a href="{{ path('trackingSurat') }}" class="list-group-item list-group-item-action bg-light">Tracking Surat</a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path("pegawai") }}" class="list-group-item list-group-item-action bg-light">Manage Pegawai</a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path("email") }}" class="list-group-item list-group-item-action bg-light">contact</a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path("indexRT") }}" class="list-group-item list-group-item-action bg-light">RT</a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path("indexRW") }}" class="list-group-item list-group-item-action bg-light">RW</a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path("indexRTW") }}" class="list-group-item list-group-item-action bg-light">LIST</a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('kata_dasar') }}" class="list-group-item list-group-item-action bg-light">Kata Dasar</a>
                {% endif %}
            </div>
        </div>
    </div>
{#    <!-- MAIN -->#}
    <div class="col">
        {% block body %}
        {% endblock %}
    </div>
</div>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="{{ asset('/assets/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <script>
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });
            </script>
</body>
</html>



